body {
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.heading {
    width: 100%;
}

#controls {
    width: 70%;
}

.heading h1 {
    display: inline;
}

#instruction {
    float: right;
    padding: 10px;
    font-size: 15px;
}

#play_game,
#restart {
    padding: 10px;
    font-size: 20px;
}

#copyright_footer {
    bottom: 0%;
    width: 100%;
    background-color: burlywood;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}