body {
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.heading {
    width: 100%;
}

.heading h1 {
    display: inline;
}

#instruction {
    float: right;
    padding: 10px;
    font-size: 15px;
}

#play_game {
    padding: 10px;
    font-size: 20px;
}
                                                                             